.game-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 90%;
}

.game-card {
  border: 3px solid #ccc;
  cursor: pointer;
  margin: 1rem;
  width: 28%;
}

.game-card button {
  background: none;
  border: 0;
  height: 100%;
  width: 100%;
}

.game-card:hover {
  border: 3px solid aquamarine;
}

.game-card img {
  max-width: 100%;
}
